{
  "presets": [
    ["env", {
      "targets" : {
        "browsers": ["last 2 versions"],
        "node": "current"
      },
      "modules": false,
      "useBuiltIns": true
    }],
    "stage-0",
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": [["env"], "react"]
    }
  },
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "syntax-dynamic-import"
  ]
}